<p id="notice"><%= notice %></p>

<p>
  <b>Profile:</b>
  <%= @comment.profile %>
</p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>

<p>
  <b>Usefulness:</b>
  <%= @comment.usefulness %>
</p>

<p>
  <b>Inappropriate flag:</b>
  <%= @comment.inappropriate_flag %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
