<%= form_for(@code) do |f| %>
  <% if @code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code.errors.count, "error") %> prohibited this code from being saved:</h2>

      <ul>
      <% @code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Enter your code below</p>
  <div class="field">
    <%= f.text_area :entry %>
  </div>
  <p>Or upload a file</p>
  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>
  <div class="field">
    <%= f.label :expected_output %><br />
    <%= f.text_area :expected_output %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
