<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
  <%= fields_for @submission.code do |code_form| %>
     
	  
	  
     <%= code_form.label :name  %>
	 <%= code_form.text_field :name %>
	    
	 <%= code_form.label :entry, "Code" %><br />
     <%= code_form.text_area :entry %><br />
    
     <%= code_form.label :expected_output, "Expected Output" %><br />
	 <%= code_form.text_area :expected_output %><br /> 
     <%= code_form.label :language %><br />
     <%= code_form.select :language, @all_languages   %><br />

    


  <% end  %>

  <div class="actions">
    <%= f.submit %>
  </div>
  
   
<% end %>
