<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <% if @submission.code and @submission.code.entry %>
	  <%= @submission.code.entry %>
  <% else %>
	  No submission
  <% end %>
</p>

<p>
  <b>Rating:</b>
  <%= @submission.rating %>
</p>


<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
