<p id="notice"><%= notice %></p>





<% #if there is no submission.code, write an error %>
<div class="code">
<% if @submission.code and @submission.code.entry %>
<pre>
<%= @submission.code.entry %>
</pre>
<% else %>
Error, no code found
<% end %>
</div>


<div class="expected-output">
<% if @submission.code.expected_output %>
<pre>
<%= @submission.code.expected_output %>
</pre>
<% else %>
<div class="expected-output no-expected-output">
No Expected Output
</div>
<% end %>
</div>





<p>
  <b>Rating:</b>
  <%= @submission.rating %>
</p>


<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
