<p id="notice"><%= notice %></p>

<p>
  <b>Permalink:</b>
  <%= @project.permalink %>
</p>

<p>
  <b>Profile:</b>
  <%= @project.profile %>
</p>

<p>
  <b>Is private:</b>
  <%= @project.is_private %>
</p>


<%= link_to 'Edit', edit_profile_project_path(@profile,@project) %> |
<%= link_to 'Back', profile_projects_path(@profile) %>
